html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to bottom, #008849 20vh, rgb(203, 203, 203) 20vh, #efefef);
    background-repeat: no-repeat;
    background-color: #efefef;
}

#root {
    height: 100%;
}

.App {
    margin: 0;
    height: 100%;
    text-align: center;
}

.Panel {
    padding: 4rem 0.25rem 3.25rem 0.25rem;
    text-align: center;
    background: #f7f8f9;
    padding: 3rem;
    /* max-width: 800px; */
}

.AroundPanelPadding {
    padding: 3rem;
    height: auto;
}

.form-group{
    padding:0.25rem;
}