html, body {
  
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to bottom, #008849 20vh, rgb(203, 203, 203) 20vh, #efefef);
  background-repeat: no-repeat;
  background-color: #efefef;
}


.App {
  margin: 0;
  height: 100%;
  padding: 4rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

.Panel{
  text-align: center;
  background: #f7f8f9;
  padding: 3rem;
  max-width: 800px;
}