.stam {
    height: 75px;
  }
.stam:hover
{
    background: #eee7e7f1;
}


.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

.user-pic
{
 

display: flex;
align-items: center;
justify-content: center;

}
.user-pic img {
  margin: auto;
  
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
.namespace
{
    height: 60%;
    text-align: left;
    font-size: 25px;
}
.msgspace
{
    height: 40%;
    text-align: left;
    top: auto;
    font-size: 15px;
    color: rgb(59, 74, 84);
}