.stam {
    height: 75px;
    border-bottom: 1px solid #ebe9e9
  }
  .stam2 {
    height: 75px;
    background: #aaa6a6f1;
    border-bottom: 1px solid #ebe9e9
  }
.stam:hover
{
    background: #eee7e7f1;
}

.heading {
  
  margin: 0;
  height: 100px;
  width: 100%;
  background-color: #eee;
 
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

.user-pic
{ 
display: flex;
align-items: center;
justify-content: center;

}
.user-pic img {
    margin: auto;
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
.namespace
{
    height: 600%;
    text-align: left;
    font-size: 25px;
    padding: 0%;
}
.msgspace
{
  height: 40%;
  text-align: left;
  top: auto;
  font-size: 15px;
  color: rgb(59, 74, 84);
}