table.Msg
{
    width:1200px;
    height:600px;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
   
    
    align-items: left;
    border: 1px solid;
    table-layout:fixed
    
}

table.head
{
    width:1200px;
    height:60px;
    border: 1px solid;
    table-layout:fixed
}

table.head td.User
{
    width: 540px;
    text-align: left;
    background: #C0C0C0;
}
table.Msg td.Add
{
    
     width: 60px;
     text-align: left;
     background: #D2AC42;
    
}
table.Msg td.UserTosend
{
   
     width: 600px;
     text-align: left;
     
}
table.mid
{
    width:1200px;
    height:480px;
    border: 1px solid;
    table-layout:fixed
}

table.mid td.Chats
{
    
   width:600px ;
   text-align: left;
}
table.mid td.Chat
{
   
   width:600px ;
   text-align: left;
   background: #ffffff;
}
table.end
{
    width:1200px;
    height:60px;
    border: 1px solid;
    table-layout:fixed
}

table.end td.fill
{
   
   width:600px ;
   text-align: left;
   
   background: #1cce58;
}
table.end td.send
{
    
   width:600px ;
   text-align: left;
   
   background: #a03bbe;
}